@charset 'utf-8';

@import 'settings';
@import 'foundation/foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

body {
	overflow-x: hidden;
}
.row {
	padding: 0 2.1875rem;
}
/*typography start*/
@mixin separator($color, $bottom) {
	content: " ";
	position: absolute;
	width: 88px;
	height: 2px;
	background: $color;
	bottom: $bottom;
	left: calc(50% - 44px);
}

.rp-title_black, .rp-title {
	font-family: 'Raleway', Raleway, Helvetica;
	padding: 5rem 0 6.25rem;
	position: relative;
	text-shadow: 1px 1px 4px black;
	text-transform: uppercase;
	margin: 0;
	color:white;
	&:after {
		@include separator(#fff, 53px);
	}
	&_black {

		color:black;
		&:after {
			@include separator(#111, 53px);
		}
	}
}
/*typography end*/
.rp-header {
	height: 100vh;
	padding: 50px 0;
	color: white;
	position: relative;
}

.rp-baner {
	max-width: 37.5rem;
	margin: auto;
	background-color: rgba(0,0,0, .65);
	p {
		padding-bottom: 4rem;
	}
}
.rp-scroll {
	background-image: url('../img/scroll.png');
	position: absolute;
	bottom: 2.5rem;
	left: calc(50% - 46px);
	height: 92px;
	width: 92px;
	transition: all .4s;
	transform: scale(0.9);

	// @-webkit-keyframes pulse {
	// 	0% { -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.2); border-radius: 50%; }
	// 	50% {
	// 		-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.9); border-radius: 50%;}
	// 		100% { -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.2); border-radius: 50%; } }
	&:hover {
	// 	-webkit-animation: pulse 1.5s infinite ease-in-out;
	transform: scale(1) translateY(10px);
}
}
/* Menu */
.top-bar {
	padding-bottom: 3rem;
	.rp-logo {
		background-color: #FFF;
		font-weight: 600;
		padding: 10px;
		border-radius: 20px;
	}
	ul {
		li {
			a {
				color:#fff;
				text-transform: uppercase;
				transition:all .5s;
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}


@keyframes bit {
	0% {
		transform: translate(0);
	}
	45% {
		transform: translate(-60px);
	}
	75% {
		transform: translate(40px);
	}
	100% {
		transform: translate(0);
	}
}

/* sevices */
.rp-services-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	// align-content: space-between;
	align-items: baseline;
	margin-bottom: 6rem;
	//transform: translate(-800px, -30px);
	&_animate {
		animation-name: bit;
		animation-duration: 1s;
	}
}
.rp-services-item {
	flex-basis: 30%;
}

.rp-about {
	background: url('../img/about.jpg');
	position: relative;
	padding: 10.625rem 0 7.1875rem;
	color:white;
	h2 {
		color:white;
		font-size: 2.8125;
	}
	p {
		max-width: 40rem;
		font-weight: 300;
	}
	a {
		text-decoration: underline;
		color:white;
		font-weight: 400;
	}
	img {
		position: absolute;
		bottom: 0;
		right: 6.25rem;
	}
}

.rp-portfolio {
	padding: 2rem 0 5rem;
	.button {
		padding: 1rem 2rem;
		margin-top: 2rem;
		border: 2px solid black;
		transition: all .7s;
		text-transform: uppercase;
		font-style: normal;
		font-weight: bold;
		color: black;
		background-color: transparent;
		&:hover {
			color: white;
			background-color: black;
		}
	}
	&-example {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 20px;
		transform: translateX(1000px);
		&_animate {
			transform: translateX(0);
			transition: transform ease-in .4s;
		}
		.rp-work{
			width: 30%;
			position: relative;
			overflow: hidden;

			&:before {
				/* opacity: 1; */
				visibility: hidden;
				position: absolute;
				content: "";
				left: 0;
				bottom: 0;
				right: 0;
				top: 0;
				z-index: 1;
				// background: rgba(0, 0, 0, 0.5);
				background: rgba(100, 194, 158, 0.6);
				transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
			}

			h4 {
				position: absolute;
				top: 40%;
				right: 0;
				bottom: 0;
				left: 0;
				transform: translateY(-140px);
				transition: all .6s;
				opacity: 0;
				color:white;
			}
			&:hover h4 {
				transform: translateY(0px);
				opacity: 1;
				z-index: 100;
			}
			&:hover:before {
				visibility: visible;
				z-index: 5;
			}
		}
	}
}

.rp-services-item {
	svg {
		fill: #5060f3;
	}
}

.rp-footer {
	background: url('../img/contacts.jpg') no-repeat;
	background-size: cover;
	padding-bottom: 121px;
	.row {
		max-width: 48.125rem;
	}
	.rp-social {
		padding: 0 0 3.75rem ;
	}

	a {
		padding: 0 30px;
		transition: opacity .4s;
		&:hover {
			opacity: 0.5;
		}
	}

	input, textarea {
		border: none;
		background-color: transparent;
		border-bottom: 1px solid white;
		font-style: italic;
		text-transform: capitalize;
		color:#676767;
		transition: all .5s;
		&:focus {
			border: none;
			background-color: transparent;
			border-bottom: 1px solid white;
		}
	}
	[type='submit'] {
		padding: 1rem 2rem;
		margin-top: 2rem;
		border:2px solid white;
		transition: all .7s;
		text-transform: uppercase;
		font-style: normal;
		font-weight: bold;
		color:white;
		&:hover {
			background: white;
			color:black;
		}
	}
}

@media screen and (max-width: 321px) {
	.rp-body {
		overflow: hidden;
	}
	.row {
		padding: 0 1.1875rem;
	}
	.top-bar {
		padding-bottom: 2rem;
	}
	.rp-scroll {
		bottom: 0.5rem;
		background-size: cover;
		height: 72px;
		width: 72px;
		left: calc(50% - 36px);
	}
	.rp-title_black, .rp-title {
		font-family: 'Raleway', Raleway, Helvetica;
		padding: 2rem 0 3.25rem;
		position: relative;
		text-shadow: 1px 1px 4px black;
		text-transform: uppercase;
		margin: 0;
		color:white;
		&:after {
			@include separator(#fff, 53px);
		}
		&_black {

			color:black;
			&:after {
				@include separator(#111, 53px);
			}
		}
	}
	.rp-header {
		padding: 30px 0;
		.menu {
			background-color: rgba(0,0,0,.5);
			border-radius: 10px;
		}
	}
	.rp-services-list {
		margin-bottom: 3rem;
	}
	.rp-services-item, .rp-work {
		flex-basis: 100%;
		padding-bottom: 1rem;
	}

	.rp-about {
		img {
			display: none;
		}
	}

	.rp-footer a {
		padding: 0 15px;
	}
}

@media screen and (max-width: 920px) {
  .rp-about {
    padding: 6rem 0 7.1875rem;
  }
  .rp-about p {
    max-width: 30rem;
  }
  .rp-about img {
    width: 25%;
  }
}

@media screen and (max-width: 800px) {
  .rp-about img {
    display: none;
  }
   .rp-services-item, .rp-work {
    flex-basis: 100%;
    padding-bottom: 1rem;
  }
  .rp-portfolio-example{
  transform:translateX(0);
  }
}
@media screen and (max-width: 421px) {
  .rp-body {
    overflow: hidden;
  }
  .row {
    padding: 0 1.1875rem;
  }
  .top-bar {
    padding-bottom: 2rem;
  }
  .rp-scroll {
    bottom: 0.5rem;
    background-size: cover;
    height: 72px;
    width: 72px;
    left: calc(50% - 36px);
  }
  .rp-title_black, .rp-title {
    font-family: 'Raleway', Raleway, Helvetica;
    padding: 2rem 0 3.25rem;
    position: relative;
    text-shadow: 1px 1px 4px black;
    text-transform: uppercase;
    margin: 0;
    color: white;
  }
  .rp-title_black:after, .rp-title:after {
    content: " ";
    position: absolute;
    width: 88px;
    height: 2px;
    background: #fff;
    bottom: 53px;
    left: calc(50% - 44px);
  }
  .rp-title_black_black, .rp-title_black {
    color: black;
  }
  .rp-title_black_black:after, .rp-title_black:after {
    content: " ";
    position: absolute;
    width: 88px;
    height: 2px;
    background: #111;
    bottom: 53px;
    left: calc(50% - 44px);
  }
  .rp-header {
    padding: 30px 0;
  }
  .rp-header .menu {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  .rp-services-list {
    margin-bottom: 3rem;
  }

  .rp-about img {
    display: none;
  }
  .rp-footer a {
    padding: 0 15px;
  }
}
